* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --Verde1: #31793B;
    --Amarelo1: #E5D357;
    --Vermelho1: #D94848;
    --Rosa1: #E29780;
    --Rosa2: #F1E3E3;
    --CorAnimation1: #000000;
    --CorAnimation2: #111111;
}

body {
    background-color: var(--Rosa2);
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px 35px;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    box-shadow: 
    0px 5px 0px 0px #31793B,
    0px 10px 0px 0px #D94848,
    0px 15px 0px 0px #E29780,
    0px 20px 0px 0px #E5D357;
}

#titulo {
    color: var(--Vermelho1);
    font-weight: 900;
}

#titulo p {
    font-size: 2.5rem;
}

#info {
    font-size: 1.6rem;
    margin-left: 30px;
}

main {
    height: 100%;
    width: 100%;
}

#container-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

#container-controles {
    background-color: white;
    width: 40%;
    height: auto;
    min-width: 200px;
    border: 5px solid #E5D357;
    margin: 5%;
    padding: 10px;
    max-width: 400px;
}

#controladores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#listaCorBase {
    display: flex;
    flex-direction: row;
    margin: 15px 10px 45px 10px;
    align-items: center;
}

#listaCorBase li {
    font-weight: bold;
}

#listaCorBase input {
    background-color: #E29780;
    border: 0;
    padding: 2px;
    border-radius: 2px;
    margin: 5px;
    color: black;
    font-weight: bold;
}

#listaIncremento {
    display: flex;
    flex-direction: row;
    margin: 15px 10px 45px 10px;
}

#listaIncremento li {
    font-weight: bold;
}

#listaIncremento input,
#listavelocidade input {
    background-color: #E29780;
    border: 0;
    padding: 2px;
    border-radius: 2px;
    margin: 5px;
    color: black;
    font-weight: bold;
}

#startStop {
    background-color: var(--Vermelho1);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.3);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#startStop:hover {
    background-color: red;
}

#container-quadro {
    background-color: white;
    width: 100%;
    margin-left: 30px;
    border: 5px solid #E5D357;
    margin: 5%;
    height: auto;
    max-width: 400px;
    padding: 10px;
}

#quadrocolorido {
    height: 100%;
}

.animar {
    animation-name: mudarbg;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mudarbg {
    0% {background-color: var(--CorAnimation1);}
    100% {background-color: var(--CorAnimation2);}
}


footer {
    background-color: #D94848;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    font-weight: bold;
    padding: 5px;
}

@media (max-width: 625px) {
    header {
        flex-direction: column;
    }
    
    #info {
        font-size: 1.0rem;
        margin-left: 0px;
    }

    #titulo {
        color: var(--Vermelho1);
        font-weight: 900;
    }
    
    #titulo p {
        font-size: 1.5rem;
    }

}